*{
  box-sizing: border-box;
}
body {
  background-color: aqua;
  --size: 480px;
}

#gallery {
  width: 860px;
  margin: 0 auto;
  text-align: center;
}

#gallery .photos{
  position: relative;
  height: var(--size)
}
#gallery .photos img{
  width: 100%;
  height: var(--size);
  position: absolute;
  left: 0;
  opacity: 0;
}


.buttons input{
  margin-top: 12px;
  margin-right: 15px;
}

#gallery .photos img.showed{
  opacity: 1;
}